<h1 class="title">{{message}}</h1>
<div class="flex-container">

    <div class="fade-in">
        <h1 class="subtitle">University of Southampton</h1>
        <h1 class="subsubtitle">MEng Computer Science</h1>
        <p class="text" style="padding-bottom: 1vh;">Sep 2022 - Jun 2026</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">First year: 91%</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Top grade in cohort (1/302)</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">Google Developer Student Club</p>
        <p class="text fade-in" style="transition-delay: 1.6s;">Space Cadets - Advanced programming course</p>
    </div>

    <div class="scroll">
        <app-scroll-arrow></app-scroll-arrow>
    </div>

    <div class="fade-in">
        <h1 class="subtitle">Peter Symonds College</h1>
        <h1 class="subsubtitle">A level Qualifications</h1>
        <!-- <h1 class="subsubtitle">Maths, Further Maths, Physics,</h1>
        <h1 class="subsubtitle">Computer Science</h1> -->
        <p class="text">Sep 2020 - Aug 2022</p>
        <table style="border-spacing: 1vh;">
            <tr class="fade-in" style="transition-delay: 0.4s;">
                <td class="text" style="padding-right: 20vw;">Maths</td>
                <td class="text">A*</td>
            </tr>
            <tr class="fade-in" style="transition-delay: 0.8s;">
                <td class="text" style="padding-right: 20vw;">Further Maths</td>
                <td class="text">A*</td>
            </tr >
            <tr class="fade-in" style="transition-delay: 1.2s;">
                <td class="text" style="padding-right: 20vw;">Physics</td>
                <td class="text">A*</td>
            </tr>
            <tr class="fade-in" style="transition-delay: 1.6s;">
                <td class="text" style="padding-right: 20vw;">Computer Science</td>
                <td class="text">A*</td>
            </tr>
          </table>
    </div>

</div>

