<h1 class="title">Education</h1>
<div class="flex-container">

    <div class="fade-in">
        <h1 class="subtitle">University of Southampton</h1>
        <h1 class="subsubtitle">MEng Computer Science</h1>
        <p class="text">Sep 2022 - Jun 2026</p>
        <p class="text">First year: 91%</p>
        <p class="text">Top grade in cohort (1/302)</p>
        <p class="text">Google Developer Student Club</p>
        <p class="text">Space Cadets - Advanced programming course</p>
    </div>

    <div class="scroll">
        <app-scroll-arrow></app-scroll-arrow>
    </div>

    <div class="fade-in">
        <h1 class="subtitle">Peter Symonds College</h1>
        <h1 class="subsubtitle">A level qualifications</h1>
        <!-- <h1 class="subsubtitle">Maths, Further Maths, Physics,</h1>
        <h1 class="subsubtitle">Computer Science</h1> -->
        <p class="text">Sep 2020 - Aug 2022</p>
        <table style="border-spacing: 1vh;">
            <tr>
                <td class="text" style="padding-right: 20vw;">Maths</td>
                <td class="text">A*</td>
            </tr>
            <tr>
                <td class="text" style="padding-right: 20vw;">Further Maths</td>
                <td class="text">A*</td>
            </tr>
            <tr>
                <td class="text" style="padding-right: 20vw;">Physics</td>
                <td class="text">A*</td>
            </tr>
            <tr>
                <td class="text" style="padding-right: 20vw;">Computer Science</td>
                <td class="text">A*</td>
            </tr>
          </table>
    </div>

</div>

