<h1 class="title">Education</h1>
<div class="flex-container">

    <div>
        <h1 class="subtitle">University of Southampton</h1>
        <h1 class="subsubtitle">MEng Computer Science</h1>
        <p class="text">Sep 2022 - Jun 2026</p>
        <p class="text">First year: 91%</p>
        <p class="text">Top grade in cohourt (1/302)</p>
        <p class="text">Google Student Developer Club</p>
        <p class="text">Space Cadets - Advanced programming course</p>
    </div>

    <div>
        <h1 class="subtitle">Peter Symonds College</h1>
        <h1 class="subsubtitle">A level qualifications</h1>
        <!-- <h1 class="subsubtitle">Maths, Further Maths, Physics,</h1>
        <h1 class="subsubtitle">Computer Science</h1> -->
        <p class="text">Sep 2020 - Aug 2022</p>
        <p class="text">Maths - A*</p>
        <p class="text">Further Maths - A*</p>
        <p class="text">Physics - A*</p>
        <p class="text">Computer Science - A*</p>
    </div>

</div>

