
@media (max-width: 800px) {
    .title {
        font: "Lucida Console";
        font-size: 20vw;
        /* text-align: center; */
        padding-top: 15vh;
        padding-bottom:10vh;
        color: #ADEFD1FF;
        line-height: 105%;
        /* z-index: 10; */
        /* left:0; */
        /* right:25vw; */
        text-align: center;
        /* width : 90%; */
    }
    .subtitle{
        color: #ADEFD1FF;
        /* padding-top: 50vh;
        padding-bottom: 10vh; */
        font-size: 12vw;
        line-height: 110%;
        text-align: center;
        /* width: 10vw; */
    }
    .subsubtitle{
        color: #ADEFD1FF;
        /* padding-top: 50vh;
        padding-bottom: 10vh; */
        font-size: 7vw;
        line-height: 110%;
        text-align: center;
    }
    .text{
        color: #ADEFD1FF;
        font-size: 4vw;
        line-height: 110%;
        text-align: left;
        padding-left: 12vw;
        padding-right: 5vw;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0vh;
        padding-bottom: 15vh;
        /* justify-content: center; */
        gap: 1vh;
        overflow: hidden;
    }
    .scroll{
        overflow: hidden;
        padding-top: 8vh;
        padding-bottom: 22vh;
    }
}

@media (min-width: 800px) {
    .title {
        font: "Lucida Console";
        font-size: 15vh;
        /* text-align: center; */
        padding-top: 20vh;
        padding-bottom:7vh;
        color: #ADEFD1FF;
        line-height: 105%;
        /* z-index: 10; */
        /* left:0; */
      /* right:25vw; */
      text-align: center;
        /* width : 90%; */
    }
    .subtitle{
        color: #ADEFD1FF;
        /* padding-top: 50vh;
        padding-bottom: 10vh; */
        font-size: 3vw;
        line-height: 110%;
        /* height: 14vh; */
        width: 24vw;

    }
    .subsubtitle{
        color: #ADEFD1FF;
        /* padding-top: 50vh;
        padding-bottom: 10vh; */
        font-size: 2vw;
        line-height: 110%;
    }
    .text{
        color: #ADEFD1FF;
        font-size: 1vw;
        width: 20vw;
        line-height: 110%;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
        padding-bottom: 5vh;
        gap: 7vw;
        padding-left: 0vw;
        /* overflow: hidden; */
    }
    .scroll{
        display:none;
    }
 }
 .fade-in {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1.7s ease-out, transform 1.7s ease-out;
    overflow: hidden;
  }
  .delay{
    transition-delay:1.5s;
  }
  
  .active {
    opacity: 4;
    transform: translateY(0);
  }