<h1 class="title">{{message}}</h1>
<div class="flex-container">

    <div class="fade-in">
        <h1 class="subtitle">Badminton</h1>
        <p class="text fade-in" style="transition-delay: 0.4s;">I enjoy playing badminton socially and competitively.</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">While at Arm I play socially, I enjoy meeting new people and having a good game!</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">During college I played in the team there and we won the AoC National title!</p>    
    </div>

    <div class="scroll">
        <app-scroll-arrow></app-scroll-arrow>
    </div>

    <div class="fade-in" style="padding-bottom: 35vh;">
        <h1 class="subtitle">Classical Guitar</h1>
        <p class="text fade-in" style="transition-delay: 0.4s;">Currently I am working towards my grade 7 in classical guitar.</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">I enjoy playing with others and I have played in multiple groups in the past.</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">During school I performed in a band for the school's 60th anniversary</p>
  
    </div>

    <div class="fade-in" style="padding-bottom: 22vh;">
        <h1 class="subtitle">35mm Analogue Film Photography</h1>
        <p class="text fade-in" style="transition-delay: 0.4s;">I shoot on a Pentax K1000 SLR which was released in 1976!</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Nature is one of my favourite settings to photograph.</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">I enjoy experiementing with different films, lenses and lighting! </p>
    </div>

</div>