<h1 class="title">{{message}}</h1>
<div class="flex-container">

    <div class="fade-in">
        <h1 class="subtitle">Arm</h1>
        <h1 class="subsubtitle">Software Research Intern</h1>
        <p class="text" style="padding-bottom: 1vh;">July 2023 - Sep 2023</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">Working within the Morello/Arran project team reporting to lead ISA architect</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Investigating possible implementation optimisations of instruction encoding space</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">Adding features to GCC (GNU) compiler in order to prototype optimisations</p>
        <p class="text fade-in" style="transition-delay: 1.6s;">Performing dynamic and static performance analysis of binaries and presenting findings and suggestions of future research directions to team</p>
    </div>

    <div class="scroll">
        <app-scroll-arrow></app-scroll-arrow>
    </div>

    <div class="fade-in" style="padding-bottom: 20vh;">
        <h1 class="subtitle">MyTutor</h1>
        <h1 class="subsubtitle">Academic Tutor</h1>
        <p class="text" style="padding-bottom: 1vh;">Oct 2022 - present</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">Teaching both A-level and GCSE Maths, Further Maths and Physics</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Providing detailed lesson reports and collaborating with parents to improve pupils confidence and understanding of the subject(s)</p>
    </div>

    <div class="fade-in">
        <h1 class="subtitle">Poppy</h1>
        <h1 class="subsubtitle">Full Stack Engineer</h1>
        <p class="text" style="padding-bottom: 1vh;">Sep 2023 - present</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">Developing and designing full stack application</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">MongoDb database</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">Python backend</p>
        <p class="text fade-in" style="transition-delay: 1.6s;">React front end</p>
    </div>

</div>

<div class="flex-container">

    <div class="fade-in" style="padding-bottom: 20vh;">
        <h1 class="subtitle">Places Leisure</h1>
        <h1 class="subsubtitle">Lifeguard</h1>
        <p class="text" style="padding-bottom: 1vh;">June 2021 - Sep 2022</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">Providing first aid in the event of injury, rescuing swimmers in danger or distress and administering Cardiopulmonary Resuscitation (CPR), if necessary</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Supervising swimming activities at the aquatic centre and making sure that safety procedures, guidelines and policies are followed</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">Collaborating with team to ensure all customers are having a safe and enjoyable time</p>
    </div>

    <div class="fade-in" style="padding-bottom: 20vh;">
        <h1 class="subtitle">Choice Plants</h1>
        <h1 class="subsubtitle">Kitchen Assistant</h1>
        <p class="text" style="padding-bottom: 1vh;">Oct 2020 - June 2021</p>
        <p class="text fade-in" style="transition-delay: 0.4s;">Working with chef to ensure all food is delivered quickly and to a high standard</p>
        <p class="text fade-in" style="transition-delay: 0.8s;">Washing, peeling and preparing food ingredients</p>
        <p class="text fade-in" style="transition-delay: 1.2s;">Reviewing kitchen inventory and determining what items are needed</p>
        <p class="text fade-in" style="transition-delay: 1.6s;">Clearing and cleaning tables to maximise table availablity for customers</p>

    </div>

</div>