<h1 class="title">{{message}}</h1>
<table class="table">
    <tr class="fade-in" style="transition-delay: 0s;">
        <td class="text" style="padding-right: 20vw;">Email</td>
        <td class="text">willpayne235@gmail.com</td>
    </tr>
    <tr class="fade-in" style="transition-delay: 0.5s;">
        <td class="text" style="padding-right: 20vw;">LinkedIn</td>
        <td class="text" >
            <a href="https://www.linkedin.com/in/william-payne-387a261a5/">william-payne-387a261a5</a>
        </td>
    </tr >
    <tr class="fade-in" style="transition-delay: 1s;">
        <td class="text" style="padding-right: 20vw;">Phone</td>
        <td class="text">+44 7711961284</td>

    <!-- <tr class="fade-in" style="transition-delay: 1.6s;">
        <td class="text" style="padding-right: 20vw;">Computer Science</td>
        <td class="text">A*</td>
    </tr> -->
  </table>
