.title {
    font: "Lucida Console";
    font-size: 13vh;
    /* text-align: center; */
    padding-top: 20vh;
    padding-bottom:0vh;
    color: #ADEFD1FF;
    line-height: 105%;
    /* z-index: 10; */
    /* left:0; */
  /* right:25vw; */
  text-align: center;
    /* width : 90%; */
}