<mat-toolbar class="toolbar mobile">
    <mat-toolbar-row style="z-index: 10;">
          <div class="menu">
            Menu:
          </div>
          <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button> -->
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="toggleHome()" [@rotateAnimation]="hide ? 'open' : 'closed'">
            <mat-icon>menu</mat-icon>
          </button>
    </mat-toolbar-row>
    <!--  *ngIf="hide" [@inOutAnimationVertical] -->
    <mat-toolbar-row  name="home" (click)="toggleHome();  " routerLink="home" class="home row o1 selected">
      <button mat-icon-button>
          <mat-icon>home</mat-icon>
      </button>
     <h1>Home</h1>
    </mat-toolbar-row>

    <mat-toolbar-row name="experience" (click)="toggleHome();  " routerLink="experience" class="experience row o2">
      <button mat-icon-button>
          <mat-icon>work</mat-icon>
        </button>
        <h1>Experience</h1>
    </mat-toolbar-row>

    <mat-toolbar-row name="education" (click)="toggleHome();" routerLink="home" class="education row o3">
      <button mat-icon-button>
          <mat-icon>school</mat-icon>
      </button>
     <h1>Education</h1>
    </mat-toolbar-row>


    <mat-toolbar-row name="hobbies" (click)="toggleHome();" routerLink="home" class="hobbies row o4">
      <button mat-icon-button>
          <mat-icon>videogame_asset</mat-icon>
      </button>
     <h1 routerLink="home">Hobbies</h1>
    </mat-toolbar-row>

    <mat-toolbar-row name="projects" (click)="toggleHome();  "  routerLink="projects" class="projects row o5">
      <button mat-icon-button>
          <mat-icon>code</mat-icon>
      </button>
     <h1>Projects</h1>
    </mat-toolbar-row>
    
  </mat-toolbar>

  <mat-toolbar class="toolbar desktop">
    <mat-toolbar-row>
        <button mat-icon-button  (click)="toggleHome()" [@rotateAnimation]="!hide ? 'open' : 'closed'"  aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-icon name="home" routerLink="home"   (mouseenter) ="hover(1)" (mouseleave) ="hover(1)" class="home example-icon activeIcon o1 selected">home</mat-icon>
          <h1 name="home" class="home example-text-small activeTextSmall o1 selected"   routerLink="home" (mouseenter)="hover(1)" (mouseleave) ="hover(1)">Home</h1>

          <mat-icon name="experience" routerLink="experience"   (mouseenter) ="hover(2)" (mouseleave) ="hover(2)" class="experience example-icon activeIcon o2">work</mat-icon>
          <h1 name="experience" class="experience example-text activeText o2 "   routerLink="experience" (mouseenter) ="hover(2)" (mouseleave) ="hover(2)">Experience</h1>

          <mat-icon name="education" routerLink="home" (mouseenter) ="hover(3)" (mouseleave) ="hover(3)" class="education example-icon activeIcon o3">school</mat-icon>
          <h1 routerLink="education" routerLink="home"  class="education example-text activeText o3" (mouseenter) ="hover(3)" (mouseleave) ="hover(3)">Education</h1>

          <mat-icon name="hobbies" routerLink="home"   (mouseenter) ="hover(4)" (mouseleave) ="hover(4)" class="hobbies example-icon activeIcon o4">videogame_asset</mat-icon>
          <h1 name="hobbies" routerLink="home"   class="hobbies example-text activeText o4" (mouseenter) ="hover(4)" (mouseleave) ="hover(4)">Hobbies</h1>

          <mat-icon name="projects" routerLink="projects"   (mouseenter) ="hover(5)" (mouseleave) ="hover(5)" class="projects example-icon activeIcon o5">code</mat-icon>
          <h1 name="projects" routerLink="projects"   class="projects example-text activeText o5" (mouseenter) ="hover(5)" (mouseleave) ="hover(5)">Projects</h1>
          
          <span class="example-spacer"></span>

          <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>

          <button mat-icon-button class="" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet style="z-index: 0;" (activate)="switch()"></router-outlet>
 
  
