<div class="flex-container">
    <div>
      <h1 data-aos="fade-left" data-aos-duration="2000" class="title">Hello!</h1>
    </div>
  
    <div class="boxes">
      <h1 class="subtitle">{{message}}</h1>
    </div>
  
    <div class="boxes">
      <app-scroll-arrow></app-scroll-arrow>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
      This is the first paragraph of text, this could be about anything but I am not sure yet!
     </h1>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
      This is the second paragraph of text, this could be about anything but I am not sure yet!
     </h1>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
      This is the third paragraph of text, this could be about anything but I am not sure yet!
     </h1>
    </div>
  </div>