<div class="flex-container">
    <div>
      <h1 class="title">{{message}}</h1>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in subtitle delay">Computer Science undergraduate keen to develop and deploy my skills through challenging opportunities!</h1>
    </div>
  
    <div class="boxes scroll-arrow">
      <app-scroll-arrow></app-scroll-arrow>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
      I am enthusiastic about developing innovative and efficient solutions to complex problems. Collaborating with others to build  scalable solutions together. 
     </h1>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
        Solving the worlds problems is what drives me. I am eager to contribute to solutions which solve real world problems and have a truly positive impact on people's lives!
     </h1>
    </div>
  
    <div class="boxes">
      <h1 class="fade-in text" >
        I have developed my team work skills through multiple years of experience working in team based environments. This enhances my ability to collaborate with others on new ideas!
      </h1>
    </div>
  </div>